#body{
    background-color: white;
    justify-content: center;
}
#header .mainName{
    color: red;
    text-align: center;
    font-size: 60PX;
}
#header .create{
    text-align: center;
}

#basic{
    /* text-align: center; */
    background-color: lightskyblue;
    margin-left: 100px;
    margin-right: 100px;
}

#basic .basic_info{
    text-align: center;
    font-size: 40px;
}
#basic .basic_input{
    margin-left: 100px;
}



#basic .basic_align{
    margin-left: 20%;
    display: flex;
    position: relative;
    margin-top: -2%;
    font-size: 15px;
    border-radius: 10px; 
}


#display_image{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    position: relative;
    float: right;

}

#submit{
    margin-left: 50%;
    font-size: 25px;
}




#academic{
    /* text-align: center; */
    background-color: lightskyblue;
    margin-left: 100px;
    margin-right: 100px;
}

#academic .academic_info{
    text-align: center;
    font-size: 40px;
}
#academic .academic_input{
    margin-left: 100px;
}

#academic_resize{
    margin-left: 20%;
    display: flex;
    position: relative;
}

#academic .academic_align{
    display: flex;
    position: relative;
    margin-top: -2%;
    font-size: 15px;
    border-radius: 10px; 
}

#start_end_date{
    margin-left: 29%;
    display: flex;
    position: relative;
   
}

.end_date{
    margin-left: 21%;
}

#btnAddAcademic{
    margin-left: 45%;
}

#btnDeleteAcademic{
    margin-left: 45%;
}


#skills{
    /* text-align: center; */
    background-color: lightskyblue;
    margin-left: 100px;
    margin-right: 100px;
}

#skills .skills_info{
    text-align: center;
    font-size: 40px;
}

#input_skills{
    text-align: center;
}

#hobbies{
    /* text-align: center; */
    background-color: lightskyblue;
    margin-left: 100px;
    margin-right: 100px;
}

#hobbies .hobbies_info{
    text-align: center;
    font-size: 40px;
}

#input_hobbies{
    text-align: center;
}


#work{
    /* text-align: center; */
    background-color: lightskyblue;
    margin-left: 100px;
    margin-right: 100px;
}

#work .work_info{
    text-align: center;
    font-size: 40px;
}
#work .work_input{
    margin-left: 100px;
}

#work_resize{
    margin-left: 20%;
    display: flex;
    position: relative;
}

#work .work_align{
    display: flex;
    position: relative;
    margin-top: -2%;
    font-size: 15px;
    border-radius: 10px; 
}

#start_end_date_work{
    margin-left: 29%;
    display: flex;
    position: relative;
   
}

.end_date{
    margin-left: 21%;
}

#btnAddWork{
    margin-left: 45%;
}

#btnDeleteWork{
    margin-left: 45%;
}